@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(69,25,82);
  background: linear-gradient(199deg, rgba(69,25,82,1) 0%, rgba(102,37,73,1) 35%, rgba(174,68,90,1) 100%);
  color: #e8bcb9;
  margin: 0;  /* Ensure there is no default margin */
  height: 100vh;  /* Ensure the body takes the full height */
}
